<section class="projects">
  <h2 style="color: #006161;">My Projects</h2>
  <div class="project-grid">
    @for (project of projects; track project.title) {
      <div class="project-card">
        <!-- <img [src]="project.imageUrl" [alt]="project.title" class="project-image"> -->
        <h3 class="project-title">{{ project.title }}</h3>
        <p class="project-description">{{ project.description }}</p>
        <div class="project-tags">
          @for (tag of project.tags; track tag) {
            <span class="tag">{{ tag }}</span>
          }
        </div>
        @if (project.projectUrl) {
          <a [href]="project.projectUrl" target="_blank" class="project-link">View Project</a>
        }
      </div>
    }
  </div>
</section>