<div class="home-container">
  <div class="profile-card">

    <div class="text-content">
      <div>
        <h1 style="margin: 0; color: white;">Hey, I'm Zain</h1>
        <h2>Software Developer <i class="fa-solid fa-code"></i></h2>
      </div>
      <p class="desc">
        Building <span style="font-weight: bold; color: white;">tech <i class="fa-solid fa-rocket"></i></span> that <span style="font-weight: bold; color: white;">cares <i class="fa-solid fa-hand-holding-hand"></i> </span> . Crafting thoughtful, human-focused solutions that make a difference.
      </p>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/syedzainalishah" target="_blank">
          <button><i class="fa-brands fa-linkedin"></i> LinkedIn</button>
        </a>
        <a href="https://github.com/SyedZainAliShah" target="_blank">
          <button><i class="fa-brands fa-github"></i> Github</button>
        </a>
        <a href="resume.pdf" download="SyedZainAliShah_Resume.pdf">
          <button><i class="fa-regular fa-file"></i> Download CV</button>
        </a>
      </div>
    </div>

    <div class="profile-image-container">
      <div class="animated-glow"></div>
      <img src="./assets/zain.png" alt="Syed Zain Ali Shah" class="profile-picture">
    </div>

  </div>
</div>