<div class="home-container">
  <!-- Left Side: Content -->
  <div class="content-section">
      <h1 style="color: white;">Hey, I'm Zain</h1>
      <h2>Software Developer</h2>
      <p>Building <span style="font-weight: bold; color: white;">tech</span> that <span style="font-weight: bold; color: white;">cares</span>. Crafting thoughtful, human-focused solutions that make a difference.</p>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/syedzainalishah " target="_blank">
            <button>LinkedIn</button>
        </a>
        <a href="https://github.com/SyedZainAliShah" target="_blank">
            <button>Github</button>
        </a>
        <a href="resume.pdf" download="SyedZainAliShah_Resume.pdf">
          <button>Download CV</button>
      </a>
    </div>
      <div class="stats">
          <div class="stat-item">
              <span>Germany</span>
              <p>Location</p>
          </div>
          <div class="stat-item">
              <span>590+</span>
              <p>Bombaclats Done</p>
          </div>
          <div class="stat-item">
              <span>2+</span>
              <p>Years Experience</p>
          </div>
      </div>
  </div>

  <!-- Right Side: Image -->
  <div class="image-section">
    <img src="./assets/zain.png" alt="Syed Zain Ali Shah" class="cropped-img">
  </div>
</div>

