<div class="home-container">
  <div class="profile-card">

    <div class="text-content">
      <div>
        <h1>Hey, I'm Zain</h1>
        <h2>{{ profession }} <i class="fa-solid fa-code"></i></h2>
      </div>
      <p class="desc">
        Building <span>tech <i class="fa-solid fa-rocket"></i></span> that <span>cares <i class="fa-solid fa-hand-holding-hand"></i></span>. Crafting thoughtful, human-focused solutions that make a difference.
      </p>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/syedzainalishah" target="_blank" class="btn">
          <i class="fa-brands fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/SyedZainAliShah" target="_blank" class="btn">
          <i class="fa-brands fa-github"></i> Github
        </a>
        <a href="assets/resume.pdf" download="SyedZainAliShah_Resume.pdf" class="btn">
          <i class="fa-regular fa-file"></i> Download CV
        </a>
      </div>
    </div>

    <div class="profile-image-container"
         (click)="onImageClick()"
         [class.is-flipped]="isFlipped">
      <div class="flipper">
        <div class="flipper-front">
          <div class="animated-glow"></div>
          <img ngSrc="./assets/zain.png" 
              alt="Syed Zain Ali Shah" 
              class="profile-picture"
              width="800"
              height="800"
              priority>
        </div>
        <div class="flipper-back">
          <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeG80enB0OTQ1dndyZGZ1dzRldWIyaXVvdmwwazkwbXBhbWtpNmF6MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Lqmp9tVPIvtyyKQneQ/giphy.gif" alt="Cat GIF" class="profile-picture">
        </div>
      </div>
    </div>
  </div>
</div>